# Groupby apply on large (relational) data set

In [66]:
import pandas as pd
import numpy as np

from datetime import datetime

from scipy import signal

pd.set_option('display.max_rows',500)

In [49]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv', sep=';' ,parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date', ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

        date     state        country  confirmed
0 2020-01-22       NaN    Afghanistan        0.0
1 2020-01-22  Zhejiang           Cuba        0.0
2 2020-01-22  Zhejiang        Croatia        0.0
3 2020-01-22  Zhejiang  Cote d'Ivoire        0.0
4 2020-01-22  Zhejiang     Costa Rica        0.0

In [50]:
test_data=pd_JH_data[((pd_JH_data['country']=='US')| (pd_JH_data['country']=='Germany'))& (pd_JH_data['date']>'2020-07-20')]

In [51]:
test_data

             date     state  country  confirmed
81846  2020-07-21  Zhejiang  Germany   203717.0
81965  2020-07-21  Zhejiang       US  3899211.0
82055  2020-07-21       NaN  Germany   203717.0
82175  2020-07-21       NaN       US  3899211.0
82299  2020-07-22  Zhejiang  Germany   204276.0
82418  2020-07-22  Zhejiang       US  3970121.0
82507  2020-07-22       NaN  Germany   204276.0
82627  2020-07-22       NaN       US  3970121.0
82749  2020-07-23  Zhejiang  Germany   204881.0
82871  2020-07-23  Zhejiang       US  4038816.0
82960  2020-07-23       NaN  Germany   204881.0
83078  2020-07-23       NaN       US  4038816.0
83201  2020-07-24  Zhejiang  Germany   205623.0
83323  2020-07-24  Zhejiang       US  4112531.0
83412  2020-07-24       NaN  Germany   205623.0
83530  2020-07-24       NaN       US  4112531.0
83654  2020-07-25  Zhejiang  Germany   206278.0
83773  2020-07-25  Zhejiang       US  4178970.0
83863  2020-07-25       NaN  Germany   206278.0
83983  2020-07-25       NaN       US  4178970.0
84105  2020-07-26  Zhejiang  Germany   206667.0
84226  2020-07-26  Zhejiang       US  4233923.0
84315  2020-07-26       NaN  Germany   206667.0
84435  2020-07-26       NaN       US  4233923.0
84557  2020-07-27  Zhejiang  Germany   207112.0
84679  2020-07-27  Zhejiang       US  4290337.0
84768  2020-07-27       NaN  Germany   207112.0
84886  2020-07-27       NaN       US  4290337.0
85010  2020-07-28  Zhejiang  Germany   207707.0
85129  2020-07-28  Zhejiang       US  4356206.0
85219  2020-07-28       NaN  Germany   207707.0
85339  2020-07-28       NaN       US  4356206.0
85463  2020-07-29  Zhejiang  Germany   208546.0
85582  2020-07-29  Zhejiang       US  4426982.0
85671  2020-07-29       NaN  Germany   208546.0
85791  2020-07-29       NaN       US  4426982.0
85913  2020-07-30  Zhejiang  Germany   209535.0
86035  2020-07-30  Zhejiang       US  4495015.0
86124  2020-07-30       NaN  Germany   209535.0
86242  2020-07-30       NaN       US  4495015.0
86365  2020-07-31  Zhejiang  Germany   210399.0
86487  2020-07-31  Zhejiang       US  4562107.0
86576  2020-07-31       NaN  Germany   210399.0
86694  2020-07-31       NaN       US  4562107.0
86818  2020-08-01  Zhejiang  Germany   211005.0
86937  2020-08-01  Zhejiang       US  4620592.0
87027  2020-08-01       NaN  Germany   211005.0
87147  2020-08-01       NaN       US  4620592.0
87270  2020-08-02  Zhejiang  Germany   211220.0
87390  2020-08-02  Zhejiang       US  4668172.0
87479  2020-08-02       NaN  Germany   211220.0
87599  2020-08-02       NaN       US  4668172.0
87721  2020-08-03  Zhejiang  Germany   212111.0
87842  2020-08-03  Zhejiang       US  4713540.0
87931  2020-08-03       NaN  Germany   212111.0
88051  2020-08-03       NaN       US  4713540.0
88175  2020-08-04  Zhejiang  Germany   212828.0
88294  2020-08-04  Zhejiang       US  4771080.0
88383  2020-08-04       NaN  Germany   212828.0
88503  2020-08-04       NaN       US  4771080.0
88625  2020-08-05  Zhejiang  Germany   214113.0
88747  2020-08-05  Zhejiang       US  4823890.0
88836  2020-08-05       NaN  Germany   214113.0
88954  2020-08-05       NaN       US  4823890.0
89079  2020-08-06  Zhejiang  Germany   215039.0
89198  2020-08-06  Zhejiang       US  4883582.0
89287  2020-08-06       NaN  Germany   215039.0
89407  2020-08-06       NaN       US  4883582.0
89529  2020-08-07  Zhejiang  Germany   216196.0
89650  2020-08-07  Zhejiang       US  4941755.0
89739  2020-08-07       NaN  Germany   216196.0
89859  2020-08-07       NaN       US  4941755.0
89981  2020-08-08  Zhejiang  Germany   216903.0
90103  2020-08-08  Zhejiang       US  4997929.0
90192  2020-08-08       NaN  Germany   216903.0
90310  2020-08-08       NaN       US  4997929.0
90435  2020-08-09  Zhejiang  Germany   217288.0
90554  2020-08-09  Zhejiang       US  5044864.0
90644  2020-08-09       NaN  Germany   217288.0
90763  2020-08-09       NaN       US  5044864.0
90888  2020-08-10  Zhejiang  Germany   218508.0
91007  2020-08-10  Zhejiang       US  5094400.0
91097  2020-08-10       NaN  Germany   218508.0
91215  2020-08-10       NaN       US  5094400.0
91338  2020-08-11  Zhejiang  Germany   219540.0
91459  2020-08-11  Zhejiang       US  5141208.0
91548  2020-08-11       NaN  Germany   219540.0
91668  2020-08-11       NaN       US  5141208.0
91790  2020-08-12  Zhejiang  Germany   220859.0
91912  2020-08-12  Zhejiang       US  5197411.0
92000  2020-08-12       NaN  Germany   220859.0
92120  2020-08-12       NaN       US  5197411.0
92244  2020-08-13  Zhejiang  Germany   222281.0
92363  2020-08-13  Zhejiang       US  5248958.0
92453  2020-08-13       NaN  Germany   222281.0
92571  2020-08-13       NaN       US  5248958.0
92694  2020-08-14  Zhejiang  Germany   223791.0
92815  2020-08-14  Zhejiang       US  5313252.0
92904  2020-08-14       NaN  Germany   223791.0
93024  2020-08-14       NaN       US  5313252.0
93147  2020-08-15  Zhejiang  Germany   224488.0
93267  2020-08-15  Zhejiang       US  5361165.0
93357  2020-08-15       NaN  Germany   224488.0
93475  2020-08-15       NaN       US  5361165.0
93599  2020-08-16  Zhejiang  Germany   225007.0
93719  2020-08-16  Zhejiang       US  5403213.0
93809  2020-08-16       NaN  Germany   225007.0
93927  2020-08-16       NaN       US  5403213.0
94049  2020-08-17  Zhejiang  Germany   226700.0
94170  2020-08-17  Zhejiang       US  5438325.0
94259  2020-08-17       NaN  Germany   226700.0
94379  2020-08-17       NaN       US  5438325.0
94501  2020-08-18  Zhejiang  Germany   228120.0
94623  2020-08-18  Zhejiang       US  5483388.0
94712  2020-08-18       NaN  Germany   228120.0
94830  2020-08-18       NaN       US  5483388.0
94954  2020-08-19  Zhejiang  Germany   229706.0
95073  2020-08-19  Zhejiang       US  5529824.0
95163  2020-08-19       NaN  Germany   229706.0
95283  2020-08-19       NaN       US  5529824.0
95407  2020-08-20  Zhejiang  Germany   231292.0
95526  2020-08-20  Zhejiang       US  5573847.0
95615  2020-08-20       NaN  Germany   231292.0
95735  2020-08-20       NaN       US  5573847.0
95857  2020-08-21  Zhejiang  Germany   233029.0
95979  2020-08-21  Zhejiang       US  5622470.0
96068  2020-08-21       NaN  Germany   233029.0
96186  2020-08-21       NaN       US  5622470.0
96309  2020-08-22  Zhejiang  Germany   233861.0
96431  2020-08-22  Zhejiang       US  5667070.0
96520  2020-08-22       NaN  Germany   233861.0
96638  2020-08-22       NaN       US  5667070.0
96762  2020-08-23  Zhejiang  Germany   234494.0
96881  2020-08-23  Zhejiang       US  5701645.0
96971  2020-08-23       NaN  Germany   234494.0
97091  2020-08-23       NaN       US  5701645.0
97213  2020-08-24  Zhejiang  Germany   236122.0
97334  2020-08-24  Zhejiang       US  5739536.0
97423  2020-08-24       NaN  Germany   236122.0
97543  2020-08-24       NaN       US  5739536.0
97665  2020-08-25  Zhejiang  Germany   237583.0
97787  2020-08-25  Zhejiang       US  5777710.0
97876  2020-08-25       NaN  Germany   237583.0
97994  2020-08-25       NaN       US  5777710.0
98118  2020-08-26  Zhejiang  Germany   239010.0
98237  2020-08-26  Zhejiang       US  5821819.0
98327  2020-08-26       NaN  Germany   239010.0
98447  2020-08-26       NaN       US  5821819.0
98571  2020-08-27  Zhejiang  Germany   240571.0
98690  2020-08-27  Zhejiang       US  5867785.0
98779  2020-08-27       NaN  Germany   240571.0
98899  2020-08-27       NaN       US  5867785.0
99021  2020-08-28  Zhejiang  Germany   242126.0
99143  2020-08-28  Zhejiang       US  5913941.0
99232  2020-08-28       NaN  Germany   242126.0
99350  2020-08-28       NaN       US  5913941.0
99473  2020-08-29  Zhejiang  Germany   242835.0
99595  2020-08-29  Zhejiang       US  5961094.0
99684  2020-08-29       NaN  Germany   242835.0
99802  2020-08-29       NaN       US  5961094.0
99926  2020-08-30  Zhejiang  Germany   243305.0
100045 2020-08-30  Zhejiang       US  5996431.0
100135 2020-08-30       NaN  Germany   243305.0
100255 2020-08-30       NaN       US  5996431.0
100378 2020-08-31  Zhejiang  Germany   244802.0
100500 2020-08-31  Zhejiang       US  6030587.0
100589 2020-08-31       NaN  Germany   244802.0
100707 2020-08-31       NaN       US  6030587.0
100832 2020-09-01  Zhejiang  Germany   246015.0
100951 2020-09-01  Zhejiang       US  6073840.0
101041 2020-09-01       NaN  Germany   246015.0
101159 2020-09-01       NaN       US  6073840.0
101282 2020-09-02  Zhejiang  Germany   247411.0
101403 2020-09-02  Zhejiang       US  6113510.0
101492 2020-09-02       NaN  Germany   247411.0
101612 2020-09-02       NaN       US  6113510.0
101735 2020-09-03  Zhejiang  Germany   248840.0
101854 2020-09-03  Zhejiang       US  6150016.0
101944 2020-09-03       NaN  Germany   248840.0
102063 2020-09-03       NaN       US  6150016.0
102186 2020-09-04  Zhejiang  Germany   250283.0
102307 2020-09-04  Zhejiang       US  6200518.0
102396 2020-09-04       NaN  Germany   250283.0
102516 2020-09-04       NaN       US  6200518.0
102639 2020-09-05  Zhejiang  Germany   251058.0
102758 2020-09-05  Zhejiang       US  6244970.0
102848 2020-09-05       NaN  Germany   251058.0
102966 2020-09-05       NaN       US  6244970.0
103090 2020-09-06  Zhejiang  Germany   251728.0
103208 2020-09-06  Zhejiang       US  6276365.0
103298 2020-09-06       NaN  Germany   251728.0
103417 2020-09-06       NaN       US  6276365.0

In [52]:
test_data.groupby(['country']).agg(np.max)

              date  confirmed
country
Germany 2020-09-06   251728.0
US      2020-09-06  6276365.0

In [53]:
# %load ../src/features/build_features.py
import numpy as np
from sklearn import linear_model


reg = linear_model.LinearRegression(fit_intercept=True)

def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate
        Parameters:
        ----------
        in_array : pandas.series
        Returns:
        ----------
        Doubling rate: double
    '''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope


if __name__ == '__main__':
    test_data_reg=np.array([2,4,6])
    result=get_doubling_time_via_regression(test_data_reg)
    print('the test slope is: '+str(result))

the test slope is: [2.]

In [54]:
test_data.groupby(['state','country']).agg(np.max)

                       date  confirmed
state    country
Zhejiang Germany 2020-09-06   251728.0
         US      2020-09-06  6276365.0

In [55]:
def rolling_reg(df_input,col='confirmed'):
    
    days_back=3
    result=df_input[col].rolling(
                       window=days_back,
                       min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [56]:
test_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg, 'confirmed')

state     country
Zhejiang  Germany  81846            NaN
                   82299            NaN
                   82749     351.016037
                   83201     304.271220
                   83654     294.336435
                   84105     394.998723
                   84557     495.649081
                   85010     398.388462
                   85463     289.802417
                   85913     228.223195
                   86365     226.112610
                   86818     286.140136
                   87270     513.701989
                   87721     382.360458
                   88175     263.747512
                   88625     212.804529
                   89079     193.571536
                   89529     206.544407
                   89981     231.809013
                   90435     397.061661
                   90888     271.110696
                   91338     194.001184
                   91790     186.844463
                   92244     161.177186
                   92694     151.644156
                   93147     202.555505
                   93599     369.126096
                   94049     203.795961
                   94501     145.588821
                   94954     151.813262
                   95407     144.833544
                   95857     139.237035
                   96309     181.181264
                   96762     319.173606
                   97213     207.718414
                   97665     152.843207
                   98118     164.523315
                   98571     160.009817
                   99021     154.408858
                   99473     213.643110
                   99926     411.798699
                   100378    247.734960
                   100832    180.595818
                   101282    188.636259
                   101735    175.166018
                   102186    173.290158
                   102639    225.482717
                   103090    347.436678
          US       81965            NaN
                   82418            NaN
                   82871      56.865910
                   83323      56.744461
                   83773      58.651279
                   84226      68.787751
                   84679      76.044250
                   85129      70.222168
                   85582      63.783405
                   86035      63.772056
                   86487      66.526569
                   86937      72.612628
                   87390      87.059011
                   87842     100.431094
                   88294      91.685726
                   88747      86.443196
                   89198      85.797301
                   89650      82.858790
                   90103      86.422707
                   90554      96.884837
                   91007     104.606172
                   91459     105.735503
                   91912      99.879424
                   92363      96.442858
                   92815      90.696852
                   93267      94.607140
                   93719     119.145185
                   94170     139.992250
                   94623     135.744110
                   95073     119.866789
                   95526     122.243661
                   95979     120.358792
                   96431     120.595325
                   96881     143.068603
                   97334     157.391062
                   97787     150.913832
                   98237     140.483170
                   98690     129.279778
                   99143     127.392986
                   99595     126.767479
                   100045    144.433394
                   100500    172.565218
                   100951    155.889350
                   101403    146.464688
                   101854    160.482444
                   102307    141.473918
                   102758    130.557982
                   103208    164.558062
Name: confirmed, dtype: float64

In [57]:
pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg, 'confirmed')

state     country
Alberta   Canada    351              NaN
                    801              NaN
                    1252             NaN
                    1704             NaN
                    2157             NaN
                                 ...
Zhejiang  Zimbabwe  101390     93.115839
                    101811    111.344538
                    102294     67.514238
                    102684     85.333333
                    103507           inf
Name: confirmed, Length: 60914, dtype: float64

In [58]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg, 'confirmed').reset_index()

In [60]:
pd_DR_result=pd_DR_result.rename(columns={'confirmed':'confirmed_DR', 'level_2':'index'})
pd_DR_result.head()

     state country  index  confirmed_DR
0  Alberta  Canada    351           NaN
1  Alberta  Canada    801           NaN
2  Alberta  Canada   1252           NaN
3  Alberta  Canada   1704           NaN
4  Alberta  Canada   2157           NaN

In [62]:
pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   level_0  index       date     state        country  confirmed
0        0      0 2020-01-22       NaN    Afghanistan        0.0
1        1      1 2020-01-22  Zhejiang           Cuba        0.0
2        2      2 2020-01-22  Zhejiang        Croatia        0.0
3        3      3 2020-01-22  Zhejiang  Cote d'Ivoire        0.0
4        4      4 2020-01-22  Zhejiang     Costa Rica        0.0

In [64]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','confirmed_DR']],on=['index'],how='left')

In [65]:
pd_result_larg.head()

   level_0  index       date     state        country  confirmed  confirmed_DR
0        0      0 2020-01-22       NaN    Afghanistan        0.0           NaN
1        1      1 2020-01-22  Zhejiang           Cuba        0.0           NaN
2        2      2 2020-01-22  Zhejiang        Croatia        0.0           NaN
3        3      3 2020-01-22  Zhejiang  Cote d'Ivoire        0.0           NaN
4        4      4 2020-01-22  Zhejiang     Costa Rica        0.0           NaN

# Filtering the Data with Groupby apply !

In [67]:
def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function 
        it ensures that the data structure is kept'''
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) # attention with the neutral element here
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [68]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()

In [69]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_result[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_larg.head()

,level_0,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered
0,0,0,2020-01-22,NaN,Afghanistan,0.0,NaN,NaN
1,1,1,2020-01-22,Zhejiang,Cuba,0.0,NaN,0.0
2,2,2,2020-01-22,Zhejiang,Croatia,0.0,NaN,0.0
3,3,3,2020-01-22,Zhejiang,Cote d'Ivoire,0.0,NaN,0.0
4,4,4,2020-01-22,Zhejiang,Costa Rica,0.0,NaN,0.0

# Filtered Doubling Rate

In [70]:
pd_filtered_doubling=pd_result_larg[['state','country','confirmed_filtered']].groupby(['state','country']).apply(rolling_reg,'confirmed_filtered').reset_index()

pd_filtered_doubling=pd_filtered_doubling.rename(columns={'confirmed_filtered':'confirmed_filtered_DR',
                             'level_2':'index'})

pd_filtered_doubling.tail()

          state   country   index  confirmed_filtered_DR
60909  Zhejiang  Zimbabwe  101390              94.218077
60910  Zhejiang  Zimbabwe  101811              86.746841
60911  Zhejiang  Zimbabwe  102294             108.505933
60912  Zhejiang  Zimbabwe  102684             121.571129
60913  Zhejiang  Zimbabwe  103507             122.461400

In [71]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_doubling[['index','confirmed_filtered_DR']],on=['index'],how='left')
pd_result_larg.tail()

,level_0,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
103503,103503,103503,2020-09-06,NaN,San Marino,716.0,NaN,NaN,NaN
103504,103504,103504,2020-09-06,NaN,Saint Vincent and the Grenadines,61.0,NaN,NaN,NaN
103505,103505,103505,2020-09-06,NaN,Saint Lucia,26.0,NaN,NaN,NaN
103506,103506,103506,2020-09-06,NaN,Timor-Leste,27.0,NaN,NaN,NaN
103507,103507,103507,2020-09-06,Zhejiang,Zimbabwe,6837.0,inf,6876.8,122.4614

In [72]:
mask=pd_result_larg['confirmed']>100
pd_result_larg['confirmed_filtered_DR']=pd_result_larg['confirmed_filtered_DR'].where(mask, other=np.NaN)

In [73]:
pd_result_larg[pd_result_larg['country']=='Germany'].tail()

,level_0,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
102396,102396,102396,2020-09-04,NaN,Germany,250283.0,NaN,NaN,NaN
102639,102639,102639,2020-09-05,Zhejiang,Germany,251058.0,225.482717,250949.2,224.297394
102848,102848,102848,2020-09-05,NaN,Germany,251058.0,NaN,NaN,NaN
103090,103090,103090,2020-09-06,Zhejiang,Germany,251728.0,347.436678,252034.4,231.246959
103298,103298,103298,2020-09-06,NaN,Germany,251728.0,NaN,NaN,NaN

In [74]:
pd_result_larg.to_csv('../data/processed/COVID_final_set.csv',sep=';',index=False)